GitPython
boto3
colorama
dataclasses_json
grid-strategy
halo
hjson
inputs
ipython
matplotlib
more_itertools
numpy
orjson
pandas
progressbar2
pybind11
pyplusplus
scipy
tabulate
tensorflow-gpu==2.3.1
tensorflow_probability==0.11.1
