GitPython
boto3
colorama
dataclasses_json
grid-strategy
halo
hjson
inputs
ipython
matplotlib
more_itertools
mss
numpy
pandas
progressbar2
pybind11
pyplusplus
scipy
tabulate
tensorflow==2.3.1
seaborn
lazyarray
tensorflow_probability==0.11.1
transformations
tqdm
